
.btn-menu {
	display: inline-block;
	
	border: transparent;
	background: transparent;
	cursor: pointer;
	font-size: 28px;
	margin-left: 10px;
	margin-bottom: 10px;
	
}

/* ------------------------- */
/* Pushbars: Estilos Generales */
/* ------------------------- */
.pushbar{
	background: #fff;
	color: #000;
	padding: 20px;
}
.pushbar .btn-cerrar.derecha{
	text-align: right;
}

.pushbar .btn-cerrar.derecha{
	text-align:right;
}

.pushbar .btn-cerrar button{
	background: none;
	color: #ffffff;
	border: none;
	cursor: pointer;
	font-size: 20px;
}
/* ----- ----- Pushbar: Menu de Navegacion ----- ----- */
.menu a {
	display: block;
	color: #000000;
	padding: 20px 0;
	font-weight: 300;
	font-size:18px;
    transition:.3s ease color; 
}

.menu a:hover{
	color: #000;
}


